
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}



footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.topimage {
 width:100%;
}

@media(max-width:1000px){
  .topimage {
    width:30%;
  }
}
  
