
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header-list li {
  list-style: none;
  float:left;
  padding:33px 20px;
}



.header-logo {
  font-size: 20px;
  float:left;
  padding:20px 40px;
}



footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

footer-list li {
  list-style: none;
  float:right;
  padding:;
}

.footer-logo {
  font-size: 15px;
  float:left;
  padding: ;
}

.wrapper{
  width:100%;
  float: left;
}

@media(max-width:1000px){
  .wrapper{
  width:90%;
  }
}
  

p{
font-size:50px;  
}

.pon{
  max-width:100%;
}
