
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.header {
  height: 150px;
}

.header-logo {
  font-size: 20px;
  float:left;
  padding:10px 40px;
}

.header-wrapper {
  
  height:55px;
}


.header-serch {
  float:left;
  padding:15px 20px;
}

.header-list {
  background-color:#d3d3d3;
  height: 45px;
}

.header-list li {
  list-style: none;
  float:left;
  padding:10px 20px;
}

.footer {
  height: 90px;
}


.footer-list {
  float:right;
}

.footer-list li {
  list-style: none;
  padding:10px 40px;
}

.footer-logo {
  font-size: 15px;
  float:left;
  padding:20px 40px;
}

.btn {
  fpadding:8px 24px;
  color:white;
  display:inline-block;
}
.tw {
    background-color:#d3d3d3;
}
.in {
    background-color:#d3d3d3;
}
.li {
    background-color:#d3d3d3;
}
.my-white {
  color: #ffffff;
}

@media(max-width:1000px){
  .wrapper{
  width:90%;
  }
}
  

p{
font-size:50px;  
}

.pon{
  max-width:100%;
}
